@model IERepository
@{
  Layout = "_MenyLayout";
}
<h2>Ärenden</h2>
<p class="info">Du är inloggad som avdelningschef</p>

<table id="managerForm">
  <tr>
    <td class="label">Välj status:</td>
    <td class="label">Välj handläggare:</td>
    <td>&nbsp;</td>
    <td class="label">Ärendenummer:</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <select name="status">
        <option selected="selected">Välj alla</option>
        @foreach (ErrandStatus status in Model.ErrandStatuses)
        {
          <option value="@status.StatusId">@status.StatusName</option>
        }
      </select>
    </td>
    <td>
      <select name="investigator">
        <option selected="selected">Välj alla</option>
        @foreach (Employee emp in Model.Employees)
        {
          <option value="@emp.EmployeeId">@emp.EmployeeName</option>
        }
      </select>
    </td>
    <td><input class="button" type="submit" value="Hämta lista"></td>
    <td><input name="casenumber"></td>
    <td><input class="button" type="submit" value="Sök"></td>
  </tr>
</table>

<!--Nedan ser man en lista på ärenden-->
<table>
  <tr>
    <th>Ärende anmält</th>
    <th>Ärendenummer</th>
    <th>Miljöbrott</th>
    <th>Status</th>
    <th>Avdelning</th>
    <th>Handläggare</th>
  </tr>
  @foreach (Errand errand in Model.Errands)
  {
    /**
    * Database contains only the Ids for Status, Department and Employee in key fields.
    * lookup the names from the related collections and add to the ViewModel
    */
    ErrandStatus? status = Model.ErrandStatuses.FirstOrDefault(s => s.StatusId == errand.StatusId);
    Department? department = Model.Departments.FirstOrDefault(d => d.DepartmentId == errand.DepartmentId);
    Employee? employee = Model.Employees.FirstOrDefault(e => e.EmployeeId == errand.EmployeeId);
    <tr>
      <td>@errand.DateOfObservation.ToString("yyyy-MM-dd")</td>
      <td><a asp-controller="Manager" asp-action="CrimeManager" asp-route-errandid="@errand.ErrandId">@errand.ErrandId</a></td>
      <td>@errand.TypeOfCrime</td>
      <td>@status!.StatusName</td>
      <td>@department!.DepartmentName</td>
      <td>@employee!.EmployeeName</td>
    </tr>
  }
</table>